
# Created by https://www.gitignore.io/api/text
# Edit at https://www.gitignore.io/?templates=text

### Text ###
*.doc 
*.docx
*.log
*.msg
*.pages
*.rtf
*.txt
*.wpd
*.wps

# End of https://www.gitignore.io/api/text

# n6Riiz4C_T59_EW_3Q5q /yrLb4RYi7ocgcBy38FUv /dv947ecv2w0kwj39vrk4gwdfz